.combobox {
    margin: 20px;
    width: 200px;

    > .input-container {
        display:  flex;

        > input {
            flex: 1;
        }

        > .icon {
            border: solid 1px;
        }
    }

    > .list {
        border: solid 1px;
    }
}